<% provide(:title, "Touring Calendar") %>
<!--image from https://pixabay.com/illustrations/calendar-icon-minimalist-time-1559935/-->
<% provide(:icon_path, "calendar.png") %>
<h2><p><%= link_to "Create New Tour!", tour_new_path %></p></h2>
<ul class="calendar">
  <%if !@tours.blank?%>
    <% for tour in @tours %>
      <div class="tour">
        <h1><%=tour.title%></h1>
        <h2><p><%= link_to "Create New Show!", show_new_path %> | <a href="tour/<%=tour.id%>/edit">Edit <%=tour.title%></a> | <%= link_to 'Delete ' + tour.title, tour_path(tour),
                    :method => :delete, :data => {:confirm => 'Are you sure?'} %></small></p></h2>
        <%for show in get_shows(tour.id) %>
          <div class="card">
            <div class="content">
              <div class="container">
                <h3><b class="text-left"><%=format_date(show.date) + ": " + show.address.city + " " + show.address.state%> <small><a href="show/<%=show.id%>/edit">Edit <%=show.address.city%> Show</a> | <%= link_to 'Delete ' + show.address.city, show_path(show),
                    :method => :delete, :data => {:confirm => 'Are you sure?'} %></small></b></h3> 
                <div class="row">
                  <div class="col-sm-4"><p><b>Address:</b> <%=show.address.fmt_address()%></p></div>
                  <div class="col-sm-4"><p><b>Load-in:</b> <%=format_time(show.load_in)%></p></div>
                  <div class="col-sm-4"><p><b>Set time:</b> <%=format_time(show.set)%></p></div>
                  <div class="col-sm-4"><p><b>Contact:</b> <%=show.contact_name%>, <a href="tel:<%=show.contact_number%>"><%=show.contact_number%></a></p></div>
                  <div class="col-sm-4"><p><b>Email:</b> <%=show.contact_email%></p></div>
                  <div class="col-sm-4"><p><b>Lodging:</b> <%=show.lodging%></p></div>
                  <div class="col-sm-4"><p><b><%=link_to "Venue Website", show.venue_website.to_s, target: "_blank"%></b></div>
                  <div class="col-sm-4"><p><b>Wifi:</b> <%=show.wifi_net%> <b>Password:</b> <%=show.wifi_pw%></p></div>
                  <div class="col-sm-4"><p>There is<%=show.laundry ? " " : " no "%>laundry access</p></div>
                  <div class="col-sm-4"><p>There is<%=show.showers ? " " : " no "%>shower access</p></div>
                  <div class="col-sm-12">              
                    <%if show.description != ""%>
                      <p>Notes: <%=show.description%></p>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</ul>
