<% provide(:title, "Touring Calendar") %>
<!--image from https://pixabay.com/illustrations/calendar-icon-minimalist-time-1559935/-->
<% provide(:icon_path, "calendar.png") %>
<ul class="calendar">
  <%if !@tours.blank?%>
    <% for tour in @tours %>
      <div class="tour">
        <h1><%=tour.title%></h1>
        <%for show in get_shows(tour.id) %>
          <div class="card">
            <div class="content">
              <p><b><%=format_date(show.date) + ": " + show.address.city + " " + show.address.state%></b></p>
              <p>Lodging: <%=show.lodging%></p>
              <p>Address: <%=show.address.fmt_address()%></p>
              <p>Load-in: <%=format_time(show.load_in)%></p>
              <p>Set time: <%=format_time(show.set)%></p>
              <p>Contact: <%=show.contact_name%> Email: <%=show.contact_email%> Number: <%=show.contact_number%></p>
              <p>Wifi: <%=show.wifi_net%> Password: <%=show.wifi_pw%></p>
              <p>There is<%=show.laundry ? " " : " not "%>laundry at the venue</p>
              <p>There are<%=show.showers ? " " : " not "%>showers at the venue</p>
              <p><%=link_to "Venue Website", URI::HTTP.build({:host => show.venue_website}).to_s, target: "_blank"%>
              <%if show.description != nil%>
                <p>Notes: <%=show.description%></p>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>
