<% provide(:title, "Touring Calendar") %>
<!--image from https://pixabay.com/illustrations/calendar-icon-minimalist-time-1559935/-->
<% provide(:icon_path, "calendar.png") %>
<h2><p><%= link_to "Create New Tour!", tour_new_path %></p></h2>
<ul class="calendar">
  <%if !@tours.blank?%>
    <% for tour in @tours %>
      <div class="tour">
        <h1><%=tour.title%></h1>
        <h2><p><%= link_to "Create New Show!", show_new_path %> | <a href="tour/<%=tour.id%>/edit">Edit <%=tour.title%></a> | <a href="tour/<%=tour.id%>/delete">Delete <%=tour.title%></a></p></h2>
        <%for show in get_shows(tour.id) %>
          <div class="card">
            <div class="content">
              <div class="container">
                <h3><b class="text-left"><%=format_date(show.date) + ": " + show.address.city + " " + show.address.state%> <small><a href="show/<%=show.id%>/edit">Edit <%=show.address.city%> Show</a> | <a href="show/<%=show.id%>/delete">Delete <%=show.address.city%> Show</a></small></b></h3> 
                <div class="row">
                  <div class="col-sm-4"><p>Address: <%=show.address.fmt_address()%></p></div>
                  <div class="col-sm-4"><p>Load-in: <%=format_time(show.load_in)%></p></div>
                  <div class="col-sm-4"><p>Set time: <%=format_time(show.set)%></p></div>
                  <div class="col-sm-4"><p>Contact: <%=show.contact_name%></p></div>
                  <div class="col-sm-4"><p>Email: <%=show.contact_email%></p></div>
                  <div class="col-sm-4"><p>Number: <%=show.contact_number%></p></div>
                  <div class="col-sm-4"><p>Lodging: <%=show.lodging%></p></div>
                  <div class="col-sm-4"><p><%=link_to "Venue Website", show.venue_website.to_s, target: "_blank"%></div>
                  <div class="col-sm-4"><p>Wifi: <%=show.wifi_net%> Password: <%=show.wifi_pw%></p></div>
                  <div class="col-sm-4"><p>There is<%=show.laundry ? " " : " no "%>laundry access</p></div>
                  <div class="col-sm-4"><p>There is<%=show.showers ? " " : " no "%>shower access</p></div>
                  <div class="col-sm-12">              
                    <%if show.description != ""%>
                      <p>Notes: <%=show.description%></p>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</ul>
