<% provide(:title, "Band Members") %>
<!--image from https://pixabay.com/illustrations/band-silhouette-drums-guitar-1595310/-->
<% provide(:icon_path, "band.png") %>
<ul class="band">
  <%if !@tours.blank?%>
    <% for tour in @tours %>
      <h1><%=tour.title%></h1>
      <h2><p><%= link_to "Add New Member!", member_new_path %></p></h2>
      <% for member in get_members(tour.id) %>
        <div class="card">
          <div class="content">
              <div class="container">
                <h3><b class="text-left"><%=member.role%>: <%=member.name%></b></h3>
                <div class="row">
                  <div class="col-sm-6">            
                    <p class="text-center">gets paid
                    <%if member.pay_by_percent%>
                      <%=member.pay%>% of gross
                    <%else%>
                      $<%=member.pay%>/show
                    <%end%></p></div>
                  <div class="col-sm-6"><p class="text-center">Phone Number: <%=member.phone_number%></p></div>
                </div>
                <small><a href="member/<%=member.id%>/edit">Edit <%=member.name%></a> | <a href="member/"<%=member.id%> data-method="delete">Delete <%=member.name%></a></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  <% end %>
<% end %>
</ul>
