 <%= javascript_include_tag "application" %>
 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag asset_path(yield(:icon_path)) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <nav>
    <ul class="nav">
      <a href="javascript:void(0);" class="icon" onclick="navFunction()" alt="Menu Display/Hide button">
        <i class="fa fa-bars"></i>
      </a>
      <div id="myLinks">
      <li><a href="/home">Home</a></li>
      <% if logged_in? %>
        <li><a href="/calendar">Touring Calendar</a></li>
        <li><a href="/band">Band Members</a></li>
        <li><a href="/finances">Tour Finances</a></li>
        <li><%= link_to "My Profile", current_user %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <%else%>
        <li><%= link_to "Log in", login_path %></li>
      <%end%>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      </div>
    </ul>
  </nav>
</header>
